@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#msg {
  font-family: 'Plus Jakarta Sans', sans-serif;
  animation-name: txtDrop;
  animation-duration: 20ms;
}

@keyframes txtDrop {
  0% {top:100px}
  100% {top: 0px}
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

